@model HRPortal.UI.PolicyToViewVM

@{
    ViewBag.Title = "ManagePolicies";
}

<h2>Manage Policies</h2>


@using (Html.BeginForm("ManagePolicies", "Policy", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.categorySelected, Model.Categories, "--Select One--", new { @onchange = "this.form.submit()", @class = "btn btn-default dropdown-toggle" })
    @Html.ActionLink("Create New", "AddPolicy", "Policy", null, new { @class = "btn btn-primary" })
}

    

@foreach (var p in Model.Policies)
{
    <li class="list-group-item">
        @Html.Label(p.Name)
        @Html.ActionLink("Delete", "DeletePolicy", "Policy", new { ID = p.ID }, new { @class = "btn btn-sm" })
    </li>
}
