@model HRPortal.Models.Policy

@{
    ViewBag.Title = "ViewPolicy";
}

<h2>View Policy</h2>

<label>Category:</label>
<br />
@Html.DisplayFor(m => m.Category)
<br/>
<br />
<label>Name:</label>
<br />
@Html.DisplayFor(m => m.Name)
<br/>
<br />
<label>Description:</label>
<br />
@Html.DisplayFor(m => m.Description)
