@model HRPortal.UI.PolicyToViewVM

@{
    ViewBag.Title = "ViewPolicies";
}

<h2>View Policies</h2>

@using (Html.BeginForm("ViewPolicies", "Policy", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.categorySelected, Model.Categories, "--Select One--", new { @onchange = "this.form.submit()", @class = "btn btn-default dropdown-toggle" })

}

<ul class="list-group">
    @foreach (var p in Model.Policies)
    {
        <li class="list-group-item">@Html.ActionLink(p.Name, "ViewPolicy", "Policy", new { ID = p.ID }, null)</li>
    }
</ul>






