
@{
    ViewBag.Title = "Index";
}
<div class="homepage">
    <br/> <br/>
    <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/865/s200/11707547-470365183123940-1304279354420006360-n.png"/>
</div>
<h3>Welcome to SG Human Resources Portal...</h3>
<div class="homebody">
    <br/>
    <p>Easy access to All your HR needs....</p>
    <ul>
        <li>Applicants can submit resumes.</li>
        <li>Managers can select resumes to view.</li>
        <li>Managers can view policy documents.</li>
        <li>Managers can add and delete policy documents.</li>
    </ul>
    <br/><br/>
</div>
<div class="homeimage">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcThf9Czmv8vTOmbeftdDupapc8IP4ZfVegJXlZxiYEKKF_7_6oTYQ"/>
</div>

